@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}


body {
  box-sizing: border-box;
  overflow: hidden;
  margin: 0;
  padding: 0;
  color: var(--foreground);
  background: var(--background);
  font-family: 'Poppins', sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px white inset ;
  color: #4CAF98 ;
}

select:focus option {
  outline: none;
  border: none;
  padding: 4px 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
